<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Deepak Kamat</title>
    <link href="../style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navigation container">
      <div class="nav-brand">I Am Developer</div>
      <ul class="list-non-bullet nav-pills">
        <li class="list-item-inline">
          <a class="link" href="../index.html">Home</a>
        </li>
        <li class="list-item-inline">
          <a class="link" href="./projects.html">Projects</a>
        </li>
        <li class="list-item-inline">
          <a class="link link-active" href="#">Blogs</a>
        </li>
      </ul>
    </nav>

    <header class="hero">
      <h1 class="hero-heading">
        Here are my <span class="heading-inverted">blogs</span>
      </h1>
    </header>

    <ul class="list-non-bullet">
      <li>
        <article class="showcase-list container container-center">
          <h1>Sort 0's, 1's and 2's (Leetcode Problem)</h1>
          <small>September, 2021</small>
          <p>
            Given array nums with n objects colored red, white, or blue, sort
            them in place so that objects of the same color are adjacent, with
            the colors in the order red, white, and blue. We will use the
            integers 0, 1, and 2 to represent the color red, white, and blue,
            respectively.
          </p>

          <a
            class="link link-primary"
            href="https://deepakkamat.hashnode.dev/sort-0s-1s-and-2s-leetcode-problem-category-medium"
            >Read More</a
          >
        </article>
      </li>

      <li>
        <article class="showcase-list container container-center">
          <h1>Minimum Size Subarray Sum (Leetcode Problem)</h1>
          <small>October, 2021</small>
          <p>
            Given an array of positive integers nums and a positive integer
            target, return the minimal length of a contiguous subarray [numsl,
            numsl+1, ..., numsr-1, numsr] of which the sum is greater than or
            equal to target. If there is no such subarray, return 0 instead.
          </p>

          <a
            class="link link-primary"
            href="https://deepakkamat.hashnode.dev/minimum-size-subarray-sum-leetcode-problem-category-medium"
            >Read More</a
          >
        </article>
      </li>
    </ul>

    <footer class="footer">
      <div class="footer-header">Connect With Me!</div>
      <ul class="list-non-bullet">
        <li class="list-item-inline">
          <a class="link" href="https://github.com/Deepak-1373">Github</a>
        </li>
        <li class="list-item-inline">
          <a class="link" href="https://twitter.com/dkamat001">Twitter</a>
        </li>
        <li class="list-item-inline">
          <a class="link" href="https://www.linkedin.com/in/deepak-1373/"
            >LinkedIn</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
