<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects | Deepak Kamat</title>
    <link href="../style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navigation container">
      <div class="nav-brand">I Am Developer</div>
      <ul class="list-non-bullet nav-pills">
        <li class="list-item-inline">
          <a class="link" href="../index.html">Home</a>
        </li>
        <li class="list-item-inline">
          <a class="link link-active" href="#">Projects</a>
        </li>
        <li class="list-item-inline">
          <a class="link" href="./Blog.html">Blogs</a>
        </li>
      </ul>
    </nav>

    <header class="hero">
      <h1 class="hero-heading">
        My <span class="heading-inverted">Projects</span>
      </h1>
    </header>

    <ol class="list-non-bullet">
      <li class="margin-md ow project-container">
        <div class="container container-center">
          <h1>Stocks profit or loss</h1>
          <small>September, 2021</small>
          <p>Tells profit or loss with percentange for your stocks.</p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://deepak-kamat-stocks.netlify.app/"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/Profit-Loss-Neog"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md project-container">
        <div class="container container-center">
          <h1>Palindrome Birthday 🎂</h1>
          <small>September, 2021</small>
          <p>
            Checks if birthdate is palindrome or not. If not then it displays
            next palindrome date.
          </p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://deepak-kamat-palindrome-birthday.netlify.app/"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/Palindrome-Birthday-Neog"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md ow project-container">
        <div class="container container-center">
          <h1>Fun with Triangles 📐</h1>
          <small>September, 2021</small>
          <p>
            Checks if all three angles form a triangle or not, quiz on triangles
            and calculates hypotenuse and area of a triangle.
          </p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://deepak-kamat-fun-with-triangles.netlify.app/"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/IsTriangle-Neog"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md project-container">
        <div class="container container-center">
          <h1>Is your birthday lucky? 🧐</h1>
          <small>September, 2021</small>
          <p>
            App tells you is your birthday🎂 lucky or not. It takes birthdate
            and your lucky number
          </p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://is-your-birdthday-lucky.netlify.app/"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/IsYourBirthdayLucky-Neog"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md ow project-container">
        <div class="container container-center">
          <h1>Cash Register Manager 💲</h1>
          <small>September, 2021</small>
          <p>
            App tells the user/cashier the amount money has to be returned in
            change to the customer with the minimum number of notes.
          </p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://cash-register-manager03.netlify.app/"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/Cash-Register-Manager-Neog"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md project-container">
        <div class="container container-center">
          <h1>Must Watch Movies 🎥</h1>
          <small>September, 2021</small>
          <p>
            React app for recommending types of movies to watch, It gives
            different options for different categories.
          </p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://k2q8q.csb.app/"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/Movie-Recommendation-Neog"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md ow project-container">
        <div class="container container-center">
          <h1>Emoticon Interpreter</h1>
          <small>September, 2021</small>
          <p>Reactjs app for getting the meaning of emojis 🚀.</p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://s8kkc.csb.app/"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/Emoticon-Interpreter-Neog"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md project-container">
        <div class="container container-center">
          <h1>Swedish Chef Talk 👩‍🍳</h1>
          <small>September, 2021</small>
          <p>
            Converts normal english into Swedish Chef's language. You can learn
            Chef's language 😉
          </p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://swedish-chef-talk.netlify.app/"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/Swedish-Chef-Talk-Neog"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md ow project-container">
        <div class="container container-center">
          <h1>Minion Speak🗣</h1>
          <small>September, 2021</small>
          <p>
            Converts normal english into minion's language. Start talking in
            minion's language!
          </p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://minion-talk03.netlify.app/"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/Minion-Talk-Neog"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md project-container">
        <div class="container container-center">
          <h1>Are you a Marvel fan</h1>
          <small>September, 2021</small>
          <p>
            A CLI quiz app built with <strong>nodeJS</strong>. Its a quiz on
            Marvel Universe.
          </p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://replit.com/@DeepakKamat/quiz-on-marvel?v=1"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/Mark-Two-CLI"
            >View Source</a
          >
        </div>
      </li>

      <li class="margin-md ow project-container">
        <div class="container container-center">
          <h1>Do you know me?</h1>
          <small>September, 2021</small>
          <p>
            A CLI quiz app built with <strong>nodeJS</strong>. You can share
            with your friends and find out who really knows you 😎
          </p>
          <a
            class="link link-primary"
            target="_blank"
            href="https://replit.com/@DeepakKamat/CLI-App?v=1"
            >Live Demo</a
          >
          <a
            class="link link-secondary"
            target="_blank"
            href="https://github.com/Deepak-1373/Mark-One-CLI"
            >View Source</a
          >
        </div>
      </li>

      <footer class="footer">
        <div class="footer-header">Connect With Me!</div>
        <ul class="list-non-bullet">
          <li class="list-item-inline">
            <a class="link" href="https://github.com/Deepak-1373">Github</a>
          </li>
          <li class="list-item-inline">
            <a class="link" href="https://twitter.com/dkamat001">Twitter</a>
          </li>
          <li class="list-item-inline">
            <a class="link" href="https://www.linkedin.com/in/deepak-1373/"
              >LinkedIn</a
            >
          </li>
        </ul>
      </footer>
    </ol>
  </body>
</html>
